body{
    position: absolute;
    margin: 0;
    font-family: 'Raleway', sans-serif;
   background-image:url(image/doshcka.jpg);
} 
 .menu {
    display: flex;
    padding-left: 538px;
 }
 .menu li {
    width: 100px;
    list-style: none;
    background: #e54615;
    position: relative;
     text-align: center;
 }
 .menu a {
    text-decoration: none;
    display: block;
    text-align: center;
    height: 40px;
    padding: 0 10px;
    line-height: 40px;
    transition: all .5s;
}
.menu a:hover{
    background: rgb(236, 185, 66);
}
.menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    padding: 0;
}
.menu li:hover>ul{
    display: block;
}
    
    .heades{
        background: #ac3434;
        line-height: 50px;
        position: sticky;
        top: 0;
        display:flex;
        align-items: center;
        flex-direction: none;  
    }
.logo{
    height: 115px;
    animation: logo-spin 3.5s linear infinite;
}
@keyframes logo-spin{
    from {
        transform: rotate(0deg);
}
    to {
        transform: rotate(360deg);
    }
}
    .kool{
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: coral;
   
}
.kool:hover{
    color: rgb(236, 185, 66);
    transition:rgb(236, 185, 66);
}

    .posl{
    display: block;
    color: currentcolor;
    margin-top: 80px;
    font-size: 35px;
    font-family: 'Georgia';
    text-align: center;
}
    .posl :hover{
        background-color: blue;
        transition: 1.5 ease;
    }
    .zob{
        width: 300px;
        height: 300px;
        display: inline-flex;
        align-items: stretch;
        flex-direction: column;   
    }
    .zob2{
        display: inline-flex;width: 300px;height: 300px;
        padding-left: 100px;
        flex-direction: column
    }
    
   .nayavn{
    padding-left: 15px;
   font-size: 25px;
   font-weight: bold;
}
.opus{
    font-family:'Berkshire swash';
    color: brown;
}
.price{
    text-align: center;
    font-size: 30px;
    font-family: cursive;
}
@media (max-width:1440px){
    .heades{
        width: 1440px;
        line-height: 44px;
    }
  .nav-list{
      padding-left: 413px;
  }
    .kool {
        display: flex;
    
        padding:0;
    }
    .zob {
        width: 500px;
        height: 500px;
        padding-left: 54px;;
    }
    .zob2{
        width: 500px;
        height: 500px;
        padding-left: 320px;
    }
}
@media (max-width:430px){
    .heades{
        width: 428px;
        line-height: 30px;
        height: 87px;
    }
    .menu {
        padding-left: 27px;
     }
   .logo{
        height: 79px;
    }
    .nav-list{
        margin-left: -373px;
    }
    .video {
        width: 147px;
        height: 81px;
    }
    .zob {
        width: 180px;
        height: 145px;
        padding-left: 23px;
    }
    .zob2 {
        width: 180px;
        height: 145px;
        padding-left: 15px;
    }
    .posl {
        margin-top: 25px;
        font-size: 25px;
    }
   
    .kool{
        font-size: 19px;
        padding:0;
    }
    .nayavn {
        font-size: 18px;
        height: 5px;
    }
    .opus{
        font-size: 14px;
    }
}
@media (max-width:403px){
    .heades{
        width: 402px;
        line-height: 30px;
        height: 81px;
    }
    .menu {
        padding-left: 24px;
     }
    .logo {
        height: 77px;
    }
    .nav-list{
        margin-left: -378px;
    }
    .video {
        width: 83px;
        height: 79px;
    }
    .zob {
        width: 153px;
        height: 145px;
        padding-left: 38px;
    }
    .zob2 {
        width: 153px;
        height: 145px;
        padding-left: 15px;
    }
    .posl {
        margin-top: 25px;
        font-size: 25px;
    }
    
    .kool{
        font-size: 17px;
        padding:0;
    }
    .nayavn {
        font-size: 15px;
        height: 5px;
    }
    .opus{
        font-size: 14px;
    }
}
@media (max-width:390px){
    .heades{
        width: 386px;
        line-height: 30px;
        height: 81px;
    }
    .menu {
        padding-left: 19px;
     }
    .nav-list{
        margin-left: -391px;
    }
    .video {
        width: 83px;
        height: 79px;
    }
    .zob {
        width: 153px;
        height: 145px;
        padding-left: 31px;
    }
    .zob2 {
        width: 153px;
        height: 145px;
        padding-left: 15px;
    }
    .posl {
        margin-top: 25px;
        font-size: 25px;
    }
    
    .kool{
        font-size: 18px;
        padding:0;
    }
    .nayavn {
        font-size: 15px;
        height: 5px;
    }
    .opus{
        font-size: 14px;
    }
}
@media (max-width:375px){
    .heades{
        width: 374px;
        line-height: 30px;
        height: 81px;
    }
    .menu {
        padding-left: 19px;
     }
    .nav-list{
        margin-left: -388px;
    }
    .video {
        width: 83px;
        height: 79px;
    }
    .zob {
        width: 153px;
        height: 145px;
        padding-left: 24px;
    }
    .zob2 {
        width: 153px;
        height: 145px;
        padding-left: 15px;
    }
    .posl {
        margin-top: 25px;
        font-size: 25px;
    }
    
    .kool{
        font-size: 17px;
        padding:0;
    }
    .nayavn {
        font-size: 15px;
        height: 5px;
    }
    .opus{
        font-size: 14px;
    }
}

@media (max-width:362px){
    .heades{
        width: 361px;
        line-height: 30px;
        height: 87px;
    }
    .menu {
        padding-left: 17x;
     }
    .nav-list{
        margin-left: -394px;
    }
    .video {
        width: 147px;
        height: 87px;
    }
    .zob {
        width: 130px;
        height: 130px;
        padding-left: 36px;
    }
    .zob2 {
        width: 130px;
        height: 130px;
        padding-left: 15px;
    }
    .posl {
        margin-top: 25px;
        font-size: 25px;
    }
  
    .kool{
        font-size: 16px;
        padding:0;
    }
    .nayavn {
        font-size: 13px;
        height: 5px;
    }
    .opus{
        font-size: 14px;
    }
}
