.dark-mode {
    background-image: url(https://img.freepik.com/premium-vector/modern-blue-black-colorful-corporate-abstract-technology-background-vector-abstract-graphic-design-banner-pattern-presentation-background-web-template_181182-34643.jpg);
    color: white;
}

.light-mode {
    background-image: url(https://pcvector.net/uploads/posts/2018-08/1533326959_low-poly-background-generator-min.png);    
    color: #563636;
}

#mode-toggle{
    background-color: #f73636;
    width: 78px;
    border-radius: 30px;
    border: 4px solid white;
    color: antiquewhite;    
}
 
.body{  
    margin: 0;
    font-family: 'Raleway', sans-serif;
    position: absolute;
}
.burger-menu {
    position: relative;
}

.burger-icon {
    color: rgb(104 255 0);
    cursor: pointer;
    font-size: 42px;
    user-select: none;
    transition: transform 0.3s;
    margin-left: 107px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.menu-items {
    display: none;
    list-style: none;
    position: absolute;
    top: 59px;
    left: 39px;
    background-color: #5ec82169;
    padding: 38px;
    margin-top: -4px;
    padding-bottom: 27px;
    border-radius: 42px;
    border: 4px solid #2b3731ab;
}

.menu-items.visible {
    display: block;
}

.menu-items li {
    margin-bottom: 21px;
    width: 151px;
}

.menu-items a {
    text-decoration: none;
    color: #fffb03d4;
    font-family: 'Arial', sans-serif;
    font-size: 26px;
    border-radius: 12px;
    background: #f73636;
    border: 3px solid white;
    color: white;
    font-family: 'GEORGIA';
}

.menu-items li a:hover{
    background: rgb(94, 233, 7);
}

.heades{
        background: #ac3434;
        line-height: 50px;
        position:-webkit-sticky;
        top: 0;
        display:flex;
        align-items: center;
        flex-direction: none;  
        position: sticky;
        
}

.order-button {
    background-color: #181717;
    border: none;
    color: rgb(174 250 5);
    padding: 6px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    border: 2px solid #13ff4e;
    font-family: inherit;
  }
  
.nav-list{
        padding: 0;
        margin: 0;
}

.logo{
    height: 115px;
}

.kool{
    display: -webkit-flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: greenyellow;
   
}

.kool:hover{
    color: rgb(236, 185, 66);
    transition:color 0.3s;
}

.posl{
        text-align: center;
}
   
.zob{
        width: 300px;
        height: 300px;
        display: inline-flex;
        align-items: stretch;
        flex-direction: column;
        mix-blend-mode: normal; 
        background-size: cover;

}

.zob2{
        display: inline-flex;width: 300px;height: 300px;
        padding-left: 100px;
        flex-direction: column;
        mix-blend-mode: normal;
}

.img{
    margin-top: 25px;
}
    
.nayavn{
        font-size: 25px;
        font-weight: bold;
        margin-top: 7px;
        color: #02f11e;
        font-family: fantasy;
}

.opus{
    font-family:'Berkshire swash';
    color: #daff22;
    margin-top: 11px;
}

.price{
    text-align: center;
   
}


@media (max-width:710px){
    .heades{
        width: 708px;
    }
    .nav-list{
        margin-left: 208px;
    }
    .burger-icon{
        margin-left: 235px;
    }
    .zob {
        width: 250px;
        padding-left: 56px;
    }

    .zob2 {
        width: 250px;
    }

}

@media (max-width:681px){
    .zob2 {
        width: 200px;
    }
    .zob {
        width: 200px;
        padding-left: 92px;
    }
    .nayavn {
        font-size: 17px;
    }
}

@media (max-width:430px){
    .heades{
        width: 429px;
        line-height: 30px;
        height: 87px;
    }
   .logo{
        height: 79px;
    }
    .nav-list{
        margin-left:  103px;
        display: block;
    }
    .burger-icon{
        margin-left: 107px;
    }
    .menu-items {
      left: -88px;
    }
    .video {
        width: 147px;
        height: 81px;
    }
    .zob {
        width: 166px;
        height: 145px;
        padding-left: 33px;
    }
    .zob2 {
        width: 166px;
        height: 145px;
        padding-left: 15px;
    }
    .posl {
        margin-top: 25px;
        font-size: 25px;
    }
   
    .kool{
        font-size: 19px;
        padding:0;
    }
    .nayavn {
        font-size: 18px;
        height: 5px;
    }
    .opus{
        font-size: 14px;
    }
}


@media (max-width:403px){
    .heades{
        width: 402px;
        line-height: 30px;
        height: 81px;
    }
    .burger-icon{
        margin-left: 98px;
    }
    .logo {
        height: 77px;
    }
    .nav-list{
        margin-left: 87px;
    }
    .video {
        width: 83px;
        height: 79px;
    }
    .zob {
        width: 153px;
        height: 145px;
        padding-left: 38px;
    }
    .zob2 {
        width: 153px;
        height: 145px;
        padding-left: 15px;
    }
   
    
    .kool{
        font-size: 17px;
        padding:0;
    }
    .nayavn {
        font-size: 15px;
        height: 5px;
    }
    .opus{
        font-size: 14px;
    }
}

@media (max-width:390px){
    .heades{
        width: 386px;
        line-height: 30px;
        height: 81px;
    }
    .nav-list{
        margin-left: 66px;
    }
    .video {
        width: 83px;
        height: 79px;
    }
    .zob {
        width: 153px;
        height: 145px;
        padding-left: 31px;
    }
    .zob2 {
        width: 153px;
        height: 145px;
        padding-left: 15px;
    }
    .posl {
        margin-top: 25px;
        font-size: 25px;
    }
    
    .kool{
        font-size: 18px;
        padding:0;
    }
    .nayavn {
        font-size: 15px;
        height: 5px;
    }
    .opus{
        font-size: 14px;
    }
}

@media (max-width:375px){
    .heades{
        width: 374px;
        line-height: 30px;
        height: 81px;
    }    
    .nav-list{
        margin-left: 56px;
    }
    .video {
        width: 83px;
        height: 79px;
    }
    .zob {
        width: 153px;
        height: 145px;
        padding-left: 24px;
    }
    .zob2 {
        width: 153px;
        height: 145px;
        padding-left: 15px;
    }
   
    
    .kool{
        font-size: 17px;
        padding:0;
    }
    .nayavn {
        font-size: 15px;
        height: 5px;
    }
    .opus{
        font-size: 14px;
    }
}

@media (max-width:362px){
    .heades{
        width: 361px;
        line-height: 30px;
        height: 87px;
    }
    .body{
        width:362px;
            }
    .burger-icon{
        margin-left: 94px;
    }
    .nav-list{
        margin-left: 52px;
    }
    .video {
        width: 147px;
        height: 87px;
    }
    .zob {
        width: 130px;
        height: 130px;
        padding-left: 36px;
    }
    .zob2 {
        width: 130px;
        height: 130px;
        padding-left: 15px;
    }
    
  
    .kool{
        font-size: 16px;
        padding:0;
    }
    .nayavn {
        font-size: 13px;
        height: 5px;
    }
    .opus{
        font-size: 14px;
    }
}

@media (max-width:422px){
    .burger-icon{
        margin-left: 100px;
    }
}

@media (max-width:413px){
    .burger-icon{
        margin-left: 92px;
    }
}
